<div
  class="hidden md:block ptablet:scale-90 ltablet:scale-90 absolute -bottom-12 left-8 bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 rounded-xl p-5 shadow-xl shadow-muted-400/10 dark:shadow-muted-800/10"
>
  <div class="flex justify-between mb-4">
    <h3 class="font-heading font-medium text-muted-800 dark:text-muted-100">
      Patients
    </h3>
    <span class="font-sans text-sm text-muted-400">4 New</span>
  </div>
  <div class="flex justify-between items-center gap-4">
    <img
      class="object-cover w-12 h-12 mask mask-blob"
      src="https://media.cssninja.io/shuriken/avatars/2.svg"
      alt="Avatar"
      width="48"
      height="48"
    />
    <img
      class="object-cover w-12 h-12 mask mask-blob"
      src="https://media.cssninja.io/shuriken/avatars/4.svg"
      alt="Avatar"
      width="48"
      height="48"
    />
    <img
      class="object-cover w-12 h-12 mask mask-blob"
      src="https://media.cssninja.io/shuriken/avatars/3.svg"
      alt="Avatar"
      width="48"
      height="48"
    />
    <img
      class="object-cover w-12 h-12 mask mask-blob"
      src="https://media.cssninja.io/shuriken/avatars/6.svg"
      alt="Avatar"
      width="48"
      height="48"
    />
  </div>
</div>
