<div id="pricing" class="w-full max-w-6xl mx-auto"  x-intersect="activeStep = 'spy-3'">
  <div class="p-6 md:p-10 rounded-2xl bg-muted-200 dark:bg-muted-900">
    <div class="grid md:grid-cols-2 ltablet:grid-cols-3 lg:grid-cols-3 gap-6">
      <div class="ptablet:hidden">
        <div class="h-full flex items-center justify-center">
          <div class="font-sans md:px-4">
            <h3 class="text-2xl mb-3 text-muted-800 dark:text-muted-100">Comprehensive pricing</h3>
            <p class="mb-3 text-sm text-muted-500 dark:text-muted-400">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Apparet
              statim, quae sint officia, quae actiones. Ut id aliis narrare
              gestiant?
            </p>
            <!--Link-->
            <a
              href="#"
              class="group inline-flex items-center gap-4 text-primary-500 hover:text-primary-400 transition-colors duration-300"
            >
              <span class="font-sans font-medium text-sm">
                Learn more in our FAQ
              </span>
              <i
                class="iconify w-4 h-4 group-hover:translate-x-1 transition-transform duration-300"
                data-icon="lucide:arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Pricing option -->
      <div>
        <div
          class="w-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300"
        >
          <div class="flex items-center -mt-2">
            <div
              class="flex items-center justify-center h-12 w-12 border border-muted-200 dark:border-muted-700 rounded-full bg-white dark:bg-muted-800 mr-2"
            >
              <div
                class="flex items-center justify-center h-10 w-10 bg-rose-100 dark:bg-rose-100/10 rounded-full"
              >
                <i
                  class="iconify w-5 h-5 text-rose-500"
                  data-icon="ph:first-aid-duotone"></i>
              </div>
            </div>
            <h3
              class="font-heading text-2xl font-medium text-muted-800 dark:text-white"
            >
              Patient
            </h3>
          </div>

          <p
            class="font-sans text-sm py-2 mt-1 text-muted-500 dark:text-muted-400"
          >
            A starter membership to help us build more free products.
          </p>
          <div class="flex items-center mt-2 mb-4">
            <h4
              class="font-heading text-4xl font-semibold text-muted-800 dark:text-white mr-4"
            >
              $0
            </h4>
            <span class="font-sans text-xs text-muted-500 dark:text-muted-400">
              <span>/per month</span>
            </span>
          </div>
          <ul class="pb-4 space-y-1 text-muted-400">
            <li class="flex items-center">
              <i class="iconify block mr-1" data-icon="lucide:check"></i>
              <span class="font-sans text-sm">Tracking dashboard</span>
            </li>
            <li class="flex items-center">
              <i class="iconify block mr-1" data-icon="lucide:check"></i>
              <span class="font-sans text-sm">Appointments</span>
            </li>
            <li class="flex items-center">
              <i class="iconify block mr-1" data-icon="lucide:check"></i>
              <span class="font-sans text-sm">Video Calls</span>
            </li>
          </ul>
          <a
            href="#"
            class="block w-full text-sm text-center font-sans my-2 py-4 font-medium text-primary-600 hover:text-muted-100 hover:bg-primary-500 hover:shadow-lg hover:shadow-primary-500/30 rounded-lg border border-primary-600/25 transition-all duration-300"
          >
            Create Account
          </a>
          <a
            href="#"
            class="block w-full text-sm text-center font-sans mb-2 py-4 font-medium text-muted-500 hover:text-muted-600 dark:text-muted-300 dark:hover:text-muted-100 rounded-lg border border-solid border-transparent hover:bg-muted-100 dark:hover:bg-muted-700 transition-colors duration-300"
          >
            Learn More
          </a>
        </div>
      </div>
      <!-- Pricing option -->
      <div>
        <div
          class="w-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300"
        >
          <div class="flex items-center -mt-2">
            <div
              class="flex items-center justify-center h-12 w-12 border border-muted-200 dark:border-muted-700 rounded-full bg-white dark:bg-muted-800 mr-2"
            >
              <div
                class="flex items-center justify-center h-10 w-10 bg-primary-100 dark:bg-primary-100/10 rounded-full"
              >
                <i
                  class="iconify w-5 h-5 text-primary-500"
                  data-icon="ph:first-aid-kit-duotone"></i>
              </div>
            </div>
            <h3
              class="font-heading text-2xl font-medium text-muted-800 dark:text-white"
            >
              Company
            </h3>
          </div>

          <p
            class="font-sans text-sm py-2 mt-1 text-muted-500 dark:text-muted-400"
          >
            A starter membership to help us build more free products.
          </p>
          <div class="flex items-center mt-2 mb-4">
            <h4
              class="font-heading text-4xl font-semibold text-muted-800 dark:text-white mr-4"
            >
              $99
            </h4>
            <span class="font-sans text-xs text-muted-500 dark:text-muted-400">
              <span>/per month</span>
            </span>
          </div>
          <ul class="pb-4 space-y-1 text-muted-400">
            <li class="flex items-center">
              <i class="iconify block mr-1" data-icon="lucide:check"></i>
              <span class="font-sans text-sm">Company dashboard</span>
            </li>
            <li class="flex items-center">
              <i class="iconify block mr-1" data-icon="lucide:check"></i>
              <span class="font-sans text-sm">Appointments</span>
            </li>
            <li class="flex items-center">
              <i class="iconify block mr-1" data-icon="lucide:check"></i>
              <span class="font-sans text-sm">Video Calls</span>
            </li>
          </ul>
          <a
            href="#"
            class="block w-full text-sm text-center font-sans my-2 py-4 font-medium text-primary-600 hover:text-muted-100 hover:bg-primary-500 hover:shadow-lg hover:shadow-primary-500/30 rounded-lg border border-primary-600/25 transition-all duration-300"
          >
            Create Account
          </a>
          <a
            href="#"
            class="block w-full text-sm text-center font-sans mb-2 py-4 font-medium text-muted-500 hover:text-muted-600 dark:text-muted-300 dark:hover:text-muted-100 rounded-lg border border-solid border-transparent hover:bg-muted-100 dark:hover:bg-muted-700 transition-colors duration-300"
          >
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
