<div class="flex flex-col">
  <div class="px-3">
    <div class="relative flex items-center justify-between">
      <p class="font-sans text-sm text-muted-400">Select desired experience</p>
      <button
        type="button"
        class="font-sans text-sm text-medium text-primary-500"
      >
        Select All
      </button>
    </div>
    <hr class="mt-6 mb-4 border-t border-muted-200 dark:border-muted-800" />

    <div class="grid grid-cols-2">
      <div class="space-y-4">
        <!--Experience-->
        <div class="relative flex items-center">
          <div
            class="group relative overflow-hidden text-primary-500 w-5 h-5 rounded flex flex-shrink-0 justify-center items-center mr-2 outline-1 focus-within:tw-accessibility-static cursor-pointer transition-all duration-300"
          >
            <input
              id="checkbox-experience-1"
              type="checkbox"
              class="peer cursor-pointer opacity-0 absolute h-5 w-5 z-20"
            />
            <div
              class="absolute top-0 left-0 h-full w-full rounded bg-white dark:bg-muted-700 dark:border-muted-700 border-2 border-muted-400 z-0 peer-checked:border-primary-500"
            >
            </div>
            <i
              class="iconify relative fill-current opacity-0 w-2.5 h-2.5 pointer-events-none transition duration-300 translate-y-6 peer-checked:opacity-100 peer-checked:translate-y-0 z-10"
              data-icon="lucide:check"></i>
          </div>
          <label
            for="checkbox-experience-1"
            class="cursor-pointer select-none text-muted-400 font-sans text-sm !stroke-4"
          >
            Beginner / Junior
          </label>
        </div>
        <!--Experience-->
        <div class="relative flex items-center">
          <div
            class="group relative overflow-hidden text-primary-500 w-5 h-5 rounded flex flex-shrink-0 justify-center items-center mr-2 outline-1 focus-within:tw-accessibility-static cursor-pointer transition-all duration-300"
          >
            <input
              id="checkbox-experience-2"
              type="checkbox"
              class="peer cursor-pointer opacity-0 absolute h-5 w-5 z-20"
            />
            <div
              class="absolute top-0 left-0 h-full w-full rounded bg-white dark:bg-muted-700 dark:border-muted-700 border-2 border-muted-400 z-0 peer-checked:border-primary-500"
            >
            </div>
            <i
              class="iconify relative fill-current opacity-0 w-2.5 h-2.5 pointer-events-none transition duration-300 translate-y-6 peer-checked:opacity-100 peer-checked:translate-y-0 z-10"
              data-icon="lucide:check"></i>
          </div>
          <label
            for="checkbox-experience-2"
            class="cursor-pointer select-none text-muted-400 font-sans text-sm !stroke-4"
          >
            5+ years experience
          </label>
        </div>
      </div>
      <div class="space-y-4">
        <!--Experience-->
        <div class="relative flex items-center">
          <div
            class="group relative overflow-hidden text-primary-500 w-5 h-5 rounded flex flex-shrink-0 justify-center items-center mr-2 outline-1 focus-within:tw-accessibility-static cursor-pointer transition-all duration-300"
          >
            <input
              id="checkbox-experience-5"
              type="checkbox"
              class="peer cursor-pointer opacity-0 absolute h-5 w-5 z-20"
            />
            <div
              class="absolute top-0 left-0 h-full w-full rounded bg-white dark:bg-muted-700 dark:border-muted-700 border-2 border-muted-400 z-0 peer-checked:border-primary-500"
            >
            </div>
            <i
              class="iconify relative fill-current opacity-0 w-2.5 h-2.5 pointer-events-none transition duration-300 translate-y-6 peer-checked:opacity-100 peer-checked:translate-y-0 z-10"
              data-icon="lucide:check"></i>
          </div>
          <label
            for="checkbox-experience-5"
            class="cursor-pointer select-none text-muted-400 font-sans text-sm !stroke-4"
          >
            10+ years experience
          </label>
        </div>
        <!--Experience-->
        <div class="relative flex items-center">
          <div
            class="group relative overflow-hidden text-primary-500 w-5 h-5 rounded flex flex-shrink-0 justify-center items-center mr-2 outline-1 focus-within:tw-accessibility-static cursor-pointer transition-all duration-300"
          >
            <input
              id="checkbox-experience-6"
              type="checkbox"
              class="peer cursor-pointer opacity-0 absolute h-5 w-5 z-20"
            />
            <div
              class="absolute top-0 left-0 h-full w-full rounded bg-white dark:bg-muted-700 dark:border-muted-700 border-2 border-muted-400 z-0 peer-checked:border-primary-500"
            >
            </div>
            <i
              class="iconify relative fill-current opacity-0 w-2.5 h-2.5 pointer-events-none transition duration-300 translate-y-6 peer-checked:opacity-100 peer-checked:translate-y-0 z-10"
              data-icon="lucide:check"></i>
          </div>
          <label
            for="checkbox-experience-6"
            class="cursor-pointer select-none text-muted-400 font-sans text-sm !stroke-4"
          >
            15+ years experience
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
