---
const { to, class: className } = Astro.props;
---

<a
  href={to}
  class="relative font-sans font-normal inline-flex items-center justify-center gap-x-1 rounded-xl leading-5 no-underline text-slate-700 bg-white border dark:text-white dark:bg-slate-700 dark:border-slate-600 h-12 px-5 py-3 text-sm hover:enabled:bg-slate-50 dark:hover:enabled:bg-slate-600 active:enabled:bg-slate-200 dark:active:enabled:bg-slate-700 tw-accessibility transition-all duration-300"
  :class={className}
>
  <slot />
</a>
