---
const { to, class: className } = Astro.props;
---

<a
  href={to}
  class="relative font-sans font-normal inline-flex items-center justify-center leading-5 no-underline space-x-1 text-white bg-primary-600 h-12 px-5 py-3 text-sm rounded-xl hover:bg-primary-700 hover:shadow-xl hover:shadow-primary-600/20 tw-accessibility transition-all duration-300"
  :class={className}
>
  <slot />
</a>
