<div class="flex flex-wrap items-center gap-2 w-full max-w-[100px]" x-data="{}">
  <template x-for="index in 72" :key="index">
    <span class="block w-1 h-1 rounded-full bg-muted-300 dark:bg-muted-700"
    ></span>
  </template>
</div>
