---
import Container from "@components/section/Container.astro";
import Logo from "@components/base/Logo.astro";
---

<footer class="font-sans bg-white dark:bg-muted-900">
  <Container>
    <div class="px-5 py-24 mx-auto">
      <div class="flex flex-wrap md:text-left text-center -mb-10 -mx-4">
        <div class="w-full mb-10 ltablet:mb-0 lg:mb-0 ltablet:w-2/6 lg:w-2/6 px-4">
          <div class="max-w-[280px] mx-auto md:mx-0">
            <a
              href="/"
              class="flex items-center justify-center md:justify-start gap-3 mb-4"
            >
              <div class="text-primary-600 transition-all duration-300">
                <Logo class="'w-9 h-9'" />
              </div>
              <span
                class="font-sans text-lg tracking-widest uppercase text-muted-800 dark:text-muted-100"
                >Dokto</span
              >
            </a>
            <p class="text-sm text-muted-500 dark:text-muted-400 mb-10 md:mb-0">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been.
            </p>
          </div>
        </div>
        <div class="lg:w-1/6 ltablet:w-1/6 md:w-1/2 w-full px-4">
          <h2
            class="font-medium tracking-widest text-sm mb-5 text-muted-800 dark:text-muted-100"
          >
            RESOURCES
          </h2>
          <ul class="list-none space-y-3 mb-10">
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Covid-19</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >About</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Careers</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Press</a
              >
            </li>
          </ul>
        </div>
        <div class="lg:w-1/6 ltablet:w-1/6 md:w-1/2 w-full px-4">
          <h2
            class="font-medium tracking-widest text-sm mb-5 text-muted-800 dark:text-muted-100"
          >
            DOCTORS
          </h2>
          <ul class="list-none space-y-3 mb-10">
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >All Specialities</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Cardiology</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Surgery</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Gynaecology</a
              >
            </li>
          </ul>
        </div>
        <div class="lg:w-1/6 ltablet:w-1/6 md:w-1/2 w-full px-4">
          <h2
            class="font-medium tracking-widest text-sm mb-5 text-muted-800 dark:text-muted-100"
          >
            ASSISTANCE
          </h2>
          <ul class="list-none space-y-3 mb-10">
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Hotline</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Help Center</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >FAQs</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Terms Of Service</a
              >
            </li>
          </ul>
        </div>
        <div class="lg:w-1/6 ltablet:w-1/6 md:w-1/2 w-full px-4">
          <h2
            class="font-medium tracking-widest text-sm mb-5 text-muted-800 dark:text-muted-100"
          >
            DEVELOPERS
          </h2>
          <ul class="list-none space-y-3 mb-10">
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Dokto Pro</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Dokto Community</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Documentation</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >API Reference</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </Container>
  <div class="border-t border-muted-200 dark:border-muted-800">
    <Container>
      <div class="px-5 py-8 flex flex-col md:flex-row mx-auto items-center">
        <div
          class="w-full ltablet:w-auto lg:w-auto flex flex-col md:flex-row items-center justify-center md:justify-start gap-y-2"
        >
          <div class="relative w-full sm:w-64 md:w-40 sm:mr-4 mr-2">
            <input
              type="text"
              class="w-full h-10 bg-muted-100 dark:bg-muted-700 bg-opacity-50 rounded-lg border border-muted-300 dark:border-muted-600 text-sm text-muted-700 py-1 px-3 leading-8 tw-accessibility transition-colors duration-300 ease-in-out"
              placeholder="Email Address"
            />
          </div>
          <button
            class="w-full md:w-auto h-10 inline-flex items-center justify-center text-white bg-primary-600 border-0 py-2 px-6 focus:outline-none hover:bg-primary-700 rounded-lg"
            >Subscribe</button
          >
          <p
            class="text-muted-500 text-sm md:ml-2 md:mt-0 mt-2 sm:text-left text-center"
          >
            to our Newsletter
          </p>
        </div>
        <span
          class="inline-flex ltablet:ml-auto lg:ml-auto md:mt-0 mt-6 w-full justify-center md:justify-start md:w-auto"
        >
          <a class="text-muted-500">
            <i class="iconify w-5 h-5" data-icon="fa6-brands:facebook-f"></i>
          </a>
          <a class="ml-3 text-muted-500">
            <i class="iconify w-5 h-5" data-icon="fa6-brands:twitter"></i>
          </a>
          <a class="ml-3 text-muted-500">
            <i class="iconify w-5 h-5" data-icon="fa6-brands:instagram"></i>
          </a>
          <a class="ml-3 text-muted-500">
            <i class="iconify w-5 h-5" data-icon="fa6-brands:linkedin-in"></i>
          </a>
        </span>
      </div>
    </Container>
  </div>

  <div class="bg-muted-100 dark:bg-muted-800">
    <Container>
      <div class="py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p
          class="text-muted-500 dark:text-muted-400 text-sm text-center sm:text-left"
        >
          © 2018-{new Date().getFullYear()} All Rights Reserved —
          <a
            href="https://cssninja.io"
            class="hover:text-primary-500"
            target="_blank"
            rel="noopener noreferrer">Css Ninja</a
          >
        </p>
        <span
          class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-muted-500 dark:text-muted-400 text-sm"
          >Built with <a href="https://astro.build" class="hover:text-primary-500"
            >Astro.build</a
          >
        </span>
      </div>
    </Container>
  </div>
</footer>
