---
import Card from "@components/base/Card.astro";
---

<div class="grid md:grid-cols-3 ltablet:grid-cols-3 lg:grid-cols-3 gap-x-6 ptablet:gap-x-4 gap-y-16 pt-10">
  <div x-show="activeCategory === 'all' || activeCategory === 'cardiology'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Melissa Thorman
        </h4>
        <p class="text-sm text-muted-400">Cardiologist</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'gynaecology'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-2.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Aaron Zimmerman
        </h4>
        <p class="text-sm text-muted-400">Gynaecologist</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.4/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'neurology'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-3.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Michael Harris
        </h4>
        <p class="text-sm text-muted-400">Neurologist</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'dermatology'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-4.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Eliana Dasilva
        </h4>
        <p class="text-sm text-muted-400">Dermatologist</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'general'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-5.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Clark Novak
        </h4>
        <p class="text-sm text-muted-400">Generalist</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.5/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'surgery'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-6.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Jenna Holloway
        </h4>
        <p class="text-sm text-muted-400">Surgeon</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.9/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'gynaecology'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-7.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Howard Wright
        </h4>
        <p class="text-sm text-muted-400">Gynaecologist</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'cardiology'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-8.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Kyle Adams
        </h4>
        <p class="text-sm text-muted-400">Cardiologist</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.7/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'general'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-9.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Emma Callaway
        </h4>
        <p class="text-sm text-muted-400">Generalist</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.3/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'general'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-10.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Nasseer Al Hussein
        </h4>
        <p class="text-sm text-muted-400">Generalist</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.9/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'surgery'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-11.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Kevin Wheeler
        </h4>
        <p class="text-sm text-muted-400">Surgeon</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.3/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'dermatology'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-12.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Adam Grant
        </h4>
        <p class="text-sm text-muted-400">Dermatologist</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.9/5</span
          >
        </div>
      </div>
    </Card>
  </div>
</div>
