---
import Unfont from 'unplugin-fonts/astro/component.astro';
import Navbar from "@components/navigation/Navbar.astro";
import Footer from "@components/section/Footer.astro";
import 'swiper/swiper-bundle.css';
import "../styles/main.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" x-data="theme()" :class="$store.app.isDark ? 'dark' : ''">
  <head>
    <meta charset="UTF-8" />
    <Unfont />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Dokto {"- " + title}</title>
  </head>
  <body x-data="homeSpy()">
    <!-- Navbar -->
    <Navbar />

    <!-- Body slot -->
    <slot />

    <!-- Footer -->
    <Footer />

    <!-- Main script -->
    <script src="../js/main"></script>
  </body>
</html>
